.notes-popup-backdrop{
        position: absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        z-index:99999999999;
        isolation: isolate;
        background-color: rgba(0,0,0,0.5);
}

.notes-popup-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0%;
    height: 0%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;

    transition: width 0.3s ease-in-out,
                height 0.3s ease-in-out,
                opacity 0.3s ease-in-out;
    opacity:0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 13px;
    padding: 10px;
    cursor: pointer;
}

.close-btn i{
    font-size: 26px;
    color: #333;
}

.note-popup-content{
    padding: 1rem;
}

.note-popup-content h3{
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color:var(--second-color);

}

.note-popup-content h3 i{
    margin-left:10px;
}

.text-content{
    width: 90%;
    padding: 1rem;
    position: relative;
    text-align: justify;
    
}


.scroll-util{
    max-height: 180px;
    overflow-y: scroll;
    

}


.text-content span{
    color:var(--third-color);
    font-weight: 600;
    font-size: .9rem;
   

}

.note-text-hidden{
    opacity: 0;
    pointer-events: none;
}


.text-content textarea{
    position: absolute; 
    max-height: 200px;
    width:95%;
    height:180px;
    top:0;
    left:0;
    padding: 10px;
    border:1px solid rgb(154, 154, 154);
    border-radius: 4px;
    resize: none;
    font-family: 'Poppins', sans-serif;
    color:var(--third-color);
    font-weight: 600;
    font-size: .9rem;
}
.text-content textarea:focus,
.text-content textarea:active{
    outline: none;
    border:1px solid var(--third-color);
}



.notes-popup-btns {
    position: absolute;
    bottom: 40px;
    gap:1rem;
    align-items: center;
    padding-left: 1rem;
    justify-content: flex-start !important;
    
} 

.notes-popup-btns i{
    color:rgb(85, 204, 89);
    font-size: 1.8rem;
    margin-left: 1rem;
}

.notes-popup-btns div:nth-child(2) {
    background-color: var(--third-color) !important;
}
.notes-popup-btns div:nth-child(3) {
    background-color: var(--third-color) !important;
    color:white;
}

.note-pop-close{
        opacity: 0;
        pointer-events: none;
}

.note-pop-transition{
    opacity:1;
    height: 50%;
    width: 45%;
    pointer-events: all;
}

.note-text{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    transition-delay: .3s;
    pointer-events: all;
}






