.feedback-container {
   
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1rem;

  
}

.feedback{
    color:var(--second-color);
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--fourth-color);
}

.feedback h3{
    color:var(--third-color);
}

.feedback p{
    font-weight: 15px;
    font-weight: 600;
    color:var(--second-color);
}

.feedback-message{
   color:rgb(14, 145, 103) !important;
   margin-bottom: .6rem
}

.feedback h4{
    font-size: 16px;
    font-weight: 600;
    color:var(--second-color);
    margin-bottom:.6rem;
}

.date-util{
    font-size: 13px;
    text-align: left;
    color:var(--first-color);
}

